@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Quicksand&display=swap');

:root {
    --black-color: #474747;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.sidebar {
    width: 24%;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Tambahkan properti ini untuk konten di tengah secara vertikal */
    position: fixed;
}

.img-wrapper {
    width: 100%; /* Pastikan gambar tidak keluar dari parentnya */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-sidebar img {
    width: 200px;
    height: 200px;
    object-fit:cover ;
}

/* Tambahkan kode ini ke CSS Anda */

.hero {
    margin-left: 24%;
    background-color: white;
    width: 76%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Tambahkan ini untuk membuat konten dalam .hero relatif terhadap .hero itu sendiri */
}

.hero-text {
    position: absolute;
    width: 76%;
    z-index: 1; /* Pastikan teks berada di atas elemen ::after */
    margin: 40px;
}



ul li {
    line-height: 1.2; /* Sesuaikan nilai ini sesuai kebutuhan Anda */
    margin-bottom: 10px; /* Untuk memberi sedikit ruang antar elemen <li> */
}

ul li p {
    margin: 0; /* Hilangkan margin bawaan pada elemen <p> di dalam <li> */
}

.skills-container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .skill-bar {
    display: flex;
    align-items: center;
  }
  
  .skill-label {
    flex: 2;
    margin-right: 10px;
  }
  
  .skill-progress {
    height: 20px;
    background-color: var(--black-color);
    border-radius: 10px;
    width: calc(var(--skill) * 1%);
    transition: width 1s ease-in-out;
    transform: rotate(180deg);
  }
  
  /* Optional styling for better visualization */
  .skill-progress[data-skill="0"] {
    background-color: #d9534f;
  }
  
  .skill-progress[data-skill="100"] {
    background-color: #5cb85c;
  }