@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&family=Merriweather&family=Montserrat&family=Open+Sans&family=Playfair+Display&family=Poppins&family=Roboto&display=swap");

body .container {
    font-family: "Montserrat";
}

 .container {
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
 }

 .wrapper-add {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
 }

 .close-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: red;
  }
  .close-btn:hover {
    color: darkred;
  }